form {
  display: flex;
  flex-direction: column;
}

.form-section {
  background-color: var(--dark2);
  box-shadow: 2px 2px 8px var(--shadow);
  border-radius: 4px;
  padding: 2.5rem;
}

.form__title {
  color: var(--light);
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5em;
  text-align: center;
}

.req-star {
  color: var(--grey);
}

form label {
  color: var(--skyblue);
  display: block;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

form input, select {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  box-shadow: 1px 1px 3px 1px var(--shadow);
  width: 100%;
  margin-bottom: 0.2em;
}

form input:focus {
  outline: 2px solid var(--skyblue);
  /* background-color: var(--skyblue); */
}

.err,
.err-common {
  font-size: 0.9rem;
  color: var(--pink);
}

.err-input {
  border: 2px solid var(--pink);
}

.err-common {
  margin-top: 1em;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .form-section {
    padding: 1.5rem;
  }
}
